<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="akavache" version="4.1.2" targetFramework="portable45-net45+win8+wp8" />
  <package id="akavache.core" version="4.1.2" targetFramework="portable45-net45+win8+wp8" />
  <package id="akavache.sqlite3" version="4.1.2" targetFramework="portable45-net45+win8+wp8" />
  <package id="Genesis.Ensure" version="1.0.4-alpha" targetFramework="portable45-net45+win8+wp8" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="portable45-net45+win8+wp8" />
  <package id="reactiveui-core" version="7.0.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="reactiveui-events-xamforms" version="7.0.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="reactiveui-xamforms" version="7.0.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="Rx-Core" version="2.2.5" targetFramework="portable45-net45+win8+wp8" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="portable45-net45+win8+wp8" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="portable45-net45+win8+wp8" />
  <package id="Rx-Main" version="2.2.5" targetFramework="portable45-net45+win8+wp8" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="portable45-net45+win8+wp8" />
  <package id="Splat" version="1.6.2" targetFramework="portable45-net45+win8+wp8" />
  <package id="SQLitePCL.raw_basic" version="0.8.6" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xamarin.Forms" version="2.3.3.175" targetFramework="portable45-net45+win8+wp8" />
</packages>