<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Genesis.Ensure" version="1.0.4-alpha" targetFramework="portable45-net45+win8+wp8" />
  <package id="Genesis.Logging" version="1.0.7-alpha" targetFramework="portable45-net45+win8+wp8" />
  <package id="Genesis.Observables" version="1.0.1-alpha" targetFramework="portable45-net45+win8+wp8" />
  <package id="reactiveui" version="7.0.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="reactiveui-core" version="7.0.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="Rx-Core" version="2.2.5" targetFramework="portable45-net45+win8+wp8" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="portable45-net45+win8+wp8" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="portable45-net45+win8+wp8" />
  <package id="Rx-Main" version="2.2.5" targetFramework="portable45-net45+win8+wp8" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="portable45-net45+win8+wp8" />
  <package id="Splat" version="1.6.2" targetFramework="portable45-net45+win8+wp8" />
  <package id="Sprache" version="2.1.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="System.Collections" version="4.3.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="System.Collections.Immutable" version="1.3.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="System.Globalization" version="4.3.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="System.Linq" version="4.3.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="System.Runtime" version="4.3.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="System.Threading" version="4.3.0" targetFramework="portable45-net45+win8+wp8" />
</packages>